<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.john.alltasks.warning.mapper.WarningManagementMapper">

    <insert id="saveWarning" parameterType="com.john.alltasks.warning.models.Warning">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID();
        </selectKey>

        REPLACE INTO warning
        (`name`, `level`, warning_method, warning_impact, tenant, operator, status, default_flag, owner, create_time)
        VALUES
        (#{warning.name}, #{warning.level}, #{warning.warningMethod}, #{warning.warningImpact}, #{warning.tenant}, #{warning.operator}, #{warning.status}, #{warning.defaultFlag}, #{warning.owner}, current_timestamp)
    </insert>

    <update id="removeWarning">
        UPDATE warning
        SET status = 0
        WHERE id = #{id} AND status = 1
    </update>

    <update id="updateWarning" parameterType="com.john.alltasks.warning.models.Warning">
        UPDATE warning
        SET
            `name` = #{warning.name},
            `level` = #{warning.level},
            warning_method = #{warning.warningMethod},
            warning_impact = #{warning.warningImpact},
            operator = #{warning.operator},
            update_time = current_timestamp
        WHERE id = #{warning.id} AND status = 1
    </update>

    <select id="queryWarningByTenant" resultType="com.john.alltasks.warning.models.Warning">
        SELECT id, `name`, `level`, warning_method warningMethod, warning_impact warningImpact, tenant, operator, status, default_flag defaultFlag, owner
        FROM warning
        WHERE tenant = #{tenant} AND status = 1
        ORDER BY `level` desc
    </select>

    <select id="queryWarningByOwner" resultType="com.john.alltasks.warning.models.Warning">
        SELECT id, `name`, `level`, warning_method warningMethod, warning_impact warningImpact, tenant, operator, status, default_flag defaultFlag, owner
        FROM warning
        WHERE owner = #{owner} AND `name` = #{name}
        LIMIT 1
    </select>

</mapper>
